{{#hunt-sidebar}}
  {{hunt-caption caption=caption}}
  {{time-on-page}}
  {{#each spots}}
    <div>{{time}}</div>
  {{/each}}
{{/hunt-sidebar}}


{{#hunt-image action='spotClick'}}
  {{#each spots}}
    {{hunt-spot xPos=xPos yPos=yPos}}
  {{/each}}
  <img {{bind-attr src=huntImage}}
{{/hunt-image}}
